/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

/* Basic universal styling */
* {
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box; /* Padding and Border are included in the width & height */
  /* Clear browser specific formatting */
  margin: 0;
  padding: 0;
}

/* CSS variables */

:root {
  --mainColor: white;
  --mainColorLight: gray;
  --secondaryColor: #f4ce14;
  --textColor: black;
}

/* nav styles */

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 0.75rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

.nav-container .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.nav-container .logo {
  height: 60%;
  width: auto;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

nav a {
  margin: 0 0.75rem;
  text-decoration: none;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
  color: var(--textColor);
}

nav a:hover {
  color: var(--mainColor);
  background-color: #495e57;
}

@media only screen and (max-width: 1024px) {
  .nav-container {
    justify-content: space-between;
  }

  .nav-container .logo {
    height: 50%;
    width: auto;
  }

  .nav-container .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .nav-container nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  .nav-container .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

/* header styles */

.header-title {
  grid-area: header-title;

  font-size: 2.5rem;
  line-height: 90%;
  margin-top: 1.5rem;
  color: #f4ce14;
}

.header-subTitle {
  grid-area: header-subTitle;
}

.header-description {
  grid-area: header-description;

  padding-right: 1rem;
  margin: 10% 0 20% 0;
}

.header-reserveTableButton {
  grid-area: header-reserveTableButton;

  margin: auto auto 10% 0;
  padding: 10px;
  border-radius: 18px;
  background-color: #f4ce14;
  border: none;
  font-weight: bold;
}

.header-headerImg {
  grid-area: header-headerImg;

  border-radius: 10px;
  height: 60%;
  width: 100%;
  margin: auto;
}

.header-container {
  display: grid;
  grid-template-columns: 5% 50% 40% 5%;
  grid-template-areas:
    ". header-title header-title"
    ". header-subTitle header-headerImg"
    ". header-description header-headerImg"
    ". header-reserveTableButton header-headerImg";

  align-items: center;
  background-color: #495e57;
  color: white;
}

@media (min-width: 500px) {
  .header-container {
    grid-template-columns: 7% 48% 38% 7%;
  }
  .header-headerImg {
    height: 70%;
  }
}

@media (min-width: 537.5px) {
  .header-container {
    grid-template-columns: 7% 48% 38% 7%;
  }
  .header-title {
    font-size: 2.5rem;
  }
  .header-subTitle {
    font-size: 1.5rem;
  }
  .header-description {
    font-size: 1.1rem;
    padding-right: 3rem;
    margin: 0;
  }
  .header-reserveTableButton {
    font-size: 1.2rem;
  }
  .header-headerImg {
    height: 80%;
  }
}

@media (min-width: 575px) {
  .header-container {
    grid-template-columns: 8% 47% 37% 8%;
  }
  .header-title {
    font-size: 3rem;
    margin-top: 2rem;
  }
  .header-subTitle {
    font-size: 1.8rem;
  }
  .header-description {
    font-size: 1.2rem;
  }
  .header-headerImg {
    height: 90%;
  }
}

@media (min-width: 675px) {
  .header-container {
    grid-template-columns: 9% 46% 36% 9%;
  }
  .header-description {
    font-size: 1.3rem;
  }
  .header-headerImg {
    height: 110%;
  }
}

@media (min-width: 750px) {
  .header-container {
    grid-template-columns: 10% 45% 35% 10%;
  }
  .header-description {
    font-size: 1.4rem;
  }
  .header-description {
    padding-right: 5rem;
  }
}

@media (min-width: 800px) {
  .header-container {
    grid-template-columns: 10.5% 45.5% 35.5% 10.5%;
  }
  .header-description {
    padding-right: 8rem;
  }
}

@media (min-width: 875px) {
  .header-container {
    grid-template-columns: 11% 44% 34% 11%;
  }
  .header-description {
    padding-right: 9rem;
  }
}

@media (min-width: 900px) {
  .header-container {
    grid-template-columns: 12% 43% 33% 12%;
  }
}

@media (min-width: 925px) {
  .header-container {
    grid-template-columns: 13% 42% 32% 13%;
  }
}

@media (min-width: 950px) {
  .header-container {
    grid-template-columns: 14% 41% 31% 14%;
  }
}

@media (min-width: 1025px) {
  .header-container {
    grid-template-columns: 15% 40% 30% 15%;
  }
}

/* Main Styles */

main {
  height: 75vh;
  padding: 1em;
}

.main-container {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 0.7fr 1.3fr;
  grid-auto-rows: 1fr;
  grid-template-areas: ". main-tile main-tile main-online-menu .";
  margin-top: 2rem;
}

.main-title {
  grid-area: main-tile;
}

.main-online-menu {
  grid-area: main-online-menu;
}

/* Footer Styles */

footer {
  background-color: #495e57;
  text-align: center;
  padding: 2em;
}
