/* Basic universal styling */
* {
  box-sizing: border-box; /* Padding and Border are included in the width & height */
  /* Clear browser specific formatting */
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  /* grid-template-rows: auto 1fr auto; */
}

/* nav styles */

nav {
  display: flex;
  justify-content: center;
}

.nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: center;
  padding: 1em 5em 1em 5em;
}

.nav-container li {
  list-style-type: none;
}

.nav-container a {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
}

.nav-container a:hover {
  color: #f4ce14;
}

@media (max-width: 1200px) {
  .nav-container {
    font-size: x-small;
  }
}

header {
  background-color: #495e57;
  /* padding: 1em 6em 1em 6em; */
  color: white;
}

header h1 {
  color: #f4ce14;
  font-size: 2rem;
}

header p {
  font-size: smaller;
}

.header-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 0.199fr 0.1fr 0.199fr 0.199fr;
  grid-template-areas:
    ". header-title header-title header-headerImg ."
    ". header-subTitle . header-headerImg ."
    ". header-description header-description header-headerImg ."
    ". header-reserveTableButton . header-headerImg .";
}

.header-title {
  grid-area: header-title;
}

.header-subTitle {
  grid-area: header-subTitle;
}

.header-description {
  grid-area: header-description;
  margin-top: 0.4rem;
}

.header-reserveTableButton {
  grid-area: header-reserveTableButton;
  margin: 0.7rem 0rem 0.8rem 0rem;
}

.header-headerImg {
  grid-area: header-headerImg;
  margin: 1rem 0rem 0rem 1rem;
  border-radius: 10px;
  height: 250px;
  width: 240px;
}

main {
  height: 100vh;
  padding: 1em;
}

.main-container {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 0.7fr 1.3fr;
  grid-auto-rows: 1fr;
  grid-template-areas: ". main-tile main-tile main-online-menu .";
  margin-top: 2rem;
}

.main-title {
  grid-area: main-tile;
}

.main-online-menu {
  grid-area: main-online-menu;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: #f4ce14;
  border: none;
}

footer {
  background-color: #495e57;
  text-align: center;
  padding: 2em;
}
